API_HOST=127.0.0.1
API_PORT=3000

TRACEFORGE_CHAIN_ID=9009
TRACEFORGE_CONTRACT_ADDRESS=0x07bf849fb7e97fa174791bdf3bf9bffa621e145b

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=traceforge
MYSQL_USER=root
MYSQL_PASSWORD=change_me

TRACEFORGE_RPC_URL=http://127.0.0.1:8545
TRACEFORGE_SIGNER_ADDRESS=0x0000000000000000000000000000000000000000
TRACEFORGE_SIGNER_KEY_FILE=~/.traceforge/secrets/sandbox-distributor.key
TRACEFORGE_BROADCAST_ENABLED=false
